<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="fourthApi" type="Fourth.Automation.Framework.RestApi.Configuration.FourthApiSection, Fourth.Automation.Framework.RestApi" />
  </configSections>
  <appSettings>
    <add key="LocationId" value="" />
    <add key="UnitId" value="" />
    <add key="SupplierId" value="" />
    <add key="DeliveryDateId" value="" />
    <add key="ProductId" value="" />
    <add key="MarketListId" value="" />
    <add key="BasketId" value="" />
    <add key="PurchaseOrderId" value="" />
  </appSettings>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="APIFramework" />
    </stepAssemblies>
    <unitTestProvider name="NUnit" />
  </specFlow>
  <fourthApi baseUrl="" username="" password="">
    <!-- update attributes and add default headers -->
    <defaultHeaders>
      <add key="X-Fourth-Org" value="" />
      <add key="X-Fourth-UserID" value="" />
    </defaultHeaders>
  </fourthApi>
</configuration>