<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="LocationId" value="2594426" xdt:Transform="Insert"/>
    <add key="UnitId" value="2594426" xdt:Transform="Insert"/>
    <add key="SupplierId" value="2594425" xdt:Transform="Insert"/>
    <add key="DeliveryDateId" value="2019-09-06 00:00:00" xdt:Transform="Insert"/>
    <add key="ProductId" value="1547267" xdt:Transform="Insert"/>
    <add key="MarketListId" value="114897" xdt:Transform="Insert"/>
    <add key="BasketId" value="464351" xdt:Transform="Insert"/>
    <add key="PurchaseOrderId" value="20070101_SmokeTestPurchaseOrder" xdt:Transform="Insert"/>
  </appSettings>
  <fourthApi baseUrl="http://ci-purchasingapi.fourth.com/api/purchasing" username="" password="" xdt:Transform="Replace">
    <defaultHeaders>
      <add key="X-Fourth-Org" value="ihg"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="X-Fourth-Version" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="X-Fourth-UserID" value="CI7SmokeTestAuthId" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="Accept" value="application/json, application/xml, text/json, text/x-json, text/javascript, text/xml"/>
      <add key="TradeSimpleInstance" value="default" xdt:Transform="Insert"/>
      <add key="TradeSimpleDbInstance" value="tsdev" xdt:Transform="Insert"/>
    </defaultHeaders>
  </fourthApi>
</configuration>