<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="LocationId" value="349595" xdt:Transform="Insert"/>
    <add key="UnitId" value="349597" xdt:Transform="Insert"/>
    <add key="SupplierId" value="349596" xdt:Transform="Insert"/>
    <add key="DeliveryDateId" value="2018-10-02 00:00:00" xdt:Transform="Insert"/>
    <add key="ProductId" value="396064" xdt:Transform="Insert"/>
    <add key="MarketListId" value="31478" xdt:Transform="Insert"/>
    <add key="BasketId" value="76868" xdt:Transform="Insert"/>
    <add key="PurchaseOrderId" value="20070101_SmokeTestPurchaseOrderNewCat" xdt:Transform="Insert"/>
  </appSettings>

  <fourthApi baseUrl="http://qa-purchasingapi.fourth.com/api/purchasing" username="" password="" xdt:Transform="Replace">
    <defaultHeaders>
      <add key="X-Fourth-Org" value="ihg"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="X-Fourth-Version" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="X-Fourth-UserID" value="SmokeTestAuthId" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="TradeSimpleInstance" value="default" xdt:Transform="Insert"/>
      <add key="TradeSimpleDbInstance" value="TSQA" xdt:Transform="Insert"/>
    </defaultHeaders>
  </fourthApi>

</configuration>